In [1]:
#import dependencies

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import balanced_accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler, LabelEncoder

In [2]:
#Read in csv files, create dataframes

tuition_df = pd.read_csv('Resources\College_Pricing_Trends_76-24.csv')
underemployed_df = pd.read_csv('Resources\\Underemployed.csv')
unemployed_df = pd.read_csv('Resources\\Unemployed.csv')
wages_df = pd.read_csv('Resources\Wages.csv')

In [3]:
# Create function to drop unwanted columns that contain the same string

def drop_colums(df, column_contains):
    df = df.loc[:, ~df.columns.str.contains(column_contains)]
    return df

In [4]:
# Apply function

underemployed_df = drop_colums(underemployed_df, 'Unnamed')
wages_df = drop_colums(wages_df, 'Unnamed')

In [5]:
# Create function to convert date columns to desired 'Year' format

def convert_date(df):    
    df['Date'] = pd.to_datetime(df['Date'])
    df_august = df[df['Date'].dt.month == 8]
    df_august = df_august.reset_index(drop=True)
    df_august['Date'] = df_august['Date'].dt.year
    df_auguest = df_august.rename(columns={'Date':'Year'})
    return df_august

In [6]:
# Run dfs through function

unemployed_df_clean = convert_date(unemployed_df)
underemployed_df_clean = convert_date(underemployed_df)

C:\Users\clayt\AppData\Local\Temp\ipykernel_14872\3037807325.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\clayt\AppData\Local\Temp\ipykernel_14872\3037807325.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [7]:
# Convert 'Date' column in wages_df

wages_df['Date'] = pd.to_datetime(wages_df['Date'])
wages_df['Date'] = wages_df['Date'].dt.year

C:\Users\clayt\AppData\Local\Temp\ipykernel_14872\658603101.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  wages_df['Date'] = pd.to_datetime(wages_df['Date'])

In [8]:
# Convert 'Date Range' column in tuition_df

tuition_df['Academic Year'] = tuition_df['Academic Year'].apply(lambda x: '20' + x.split('-')[0] if int(x.split('-')[0]) < 50 else '19' + x.split('-')[0])
# Rename 'Acedemic Year' column to 'Year'

tuition_df = tuition_df.rename(columns={'Academic Year':'Year'})

# Display result
tuition_df

,Year,Private Nonprofit Four-Year,One-Year % Change,Public Four-Year,One-Year % Change.1,Public Two-Year,One-Year % Change.2,Private Nonprofit Four-Year.1,One-Year % Change.3,Public Four-Year.1,One-Year % Change.4
0,1971,"$13,820",—,"$3,250",—,"$1,430",—,"$22,130",—,"$10,650",—
1,1972,"$14,270",3.30%,"$3,660",12.60%,"$1,680",17.50%,"$22,610",2.20%,"$11,340",6.50%
2,1973,"$14,120",-1.10%,"$3,510",-4.10%,"$1,860",10.70%,"$22,180",-1.90%,"$11,020",-2.80%
3,1974,"$13,210",-6.40%,"$3,160",-10.00%,"$1,740",-6.50%,"$21,220",-4.30%,"$10,240",-7.10%
4,1975,"$13,020",-1.40%,"$3,070",-2.80%,"$1,420",-18.40%,"$20,920",-1.40%,"$10,120",-1.20%
5,1976,"$13,600",4.50%,"$3,330",8.50%,"$1,500",5.60%,"$21,390",2.20%,"$10,430",3.10%
6,1977,"$13,630",0.20%,"$3,330",0.00%,"$1,560",4.00%,"$21,400",0.00%,"$10,300",-1.20%
7,1978,"$13,880",1.80%,"$3,240",-2.70%,"$1,550",-0.60%,"$21,620",1.00%,"$10,080",-2.10%
8,1979,"$13,610",-1.90%,"$3,120",-3.70%,"$1,520",-1.90%,"$21,100",-2.40%,"$9,820",-2.60%
9,1980,"$13,440",-1.20%,"$2,970",-4.80%,"$1,450",-4.60%,"$20,750",-1.70%,"$9,460",-3.70%
10,1981,"$13,830",2.90%,"$3,060",3.00%,"$1,450",0.00%,"$21,300",2.70%,"$9,660",2.10%
11,1982,"$14,700",6.30%,"$3,260",6.50%,"$1,490",2.80%,"$22,600",6.10%,"$10,140",5.00%
12,1983,"$15,630",6.30%,"$3,530",8.30%,"$1,630",9.40%,"$23,830",5.40%,"$10,530",3.80%
13,1984,"$16,370",4.70%,"$3,620",2.50%,"$1,710",4.90%,"$24,870",4.40%,"$10,830",2.80%
14,1985,"$17,390",6.20%,"$3,750",3.60%,"$1,820",6.40%,"$25,300",1.70%,"$10,970",1.30%
15,1986,"$18,580",6.80%,"$3,930",4.80%,"$1,840",1.10%,"$27,490",8.70%,"$11,300",3.00%
16,1987,"$18,980",2.20%,"$4,010",2.00%,"$1,990",8.20%,"$28,160",2.40%,"$11,310",0.10%
17,1988,"$20,680",9.00%,"$4,080",1.70%,"$2,070",4.00%,"$30,140",7.00%,"$11,530",1.90%
18,1989,"$21,360",3.30%,"$4,190",2.70%,"$2,070",0.00%,"$30,980",2.80%,"$11,640",1.00%
19,1990,"$21,850",2.30%,"$4,470",6.70%,"$2,130",2.90%,"$31,540",1.80%,"$11,860",1.90%
20,1991,"$22,030",0.80%,"$4,740",6.00%,"$2,630",23.50%,"$31,860",1.00%,"$12,240",3.20%
21,1992,"$22,780",3.40%,"$5,080",7.20%,"$2,440",-7.20%,"$32,760",2.80%,"$12,710",3.80%
22,1993,"$23,300",2.30%,"$5,380",5.90%,"$2,650",8.60%,"$33,440",2.10%,"$13,140",3.40%
23,1994,"$24,190",3.80%,"$5,590",3.90%,"$2,700",1.90%,"$34,050",1.80%,"$13,660",4.00%
24,1995,"$24,520",1.40%,"$5,640",0.90%,"$2,670",-1.10%,"$34,880",2.40%,"$13,530",-1.00%
25,1996,"$25,320",3.30%,"$5,810",3.00%,"$2,870",7.50%,"$35,790",2.60%,"$13,920",2.90%
26,1997,"$26,280",3.80%,"$5,930",2.10%,"$2,990",4.20%,"$36,890",3.10%,"$14,230",2.20%
27,1998,"$27,600",5.00%,"$6,100",2.90%,"$2,910",-2.70%,"$38,390",4.10%,"$14,580",2.50%
28,1999,"$28,490",3.20%,"$6,170",1.10%,"$3,030",4.10%,"$39,430",2.70%,"$14,830",1.70%
29,2000,"$28,540",0.20%,"$6,230",1.00%,"$2,910",-4.00%,"$39,500",0.20%,"$14,990",1.10%
30,2001,"$30,010",5.20%,"$6,510",4.50%,"$2,780",-4.50%,"$41,200",4.30%,"$15,590",4.00%
31,2002,"$30,700",2.30%,"$6,970",7.10%,"$2,840",2.20%,"$42,280",2.60%,"$16,440",5.50%
32,2003,"$31,500",2.60%,"$7,730",10.90%,"$3,170",11.60%,"$43,310",2.40%,"$17,500",6.40%
33,2004,"$32,460",3.00%,"$8,310",7.50%,"$3,370",6.30%,"$44,470",2.70%,"$18,420",5.30%
34,2005,"$32,850",1.20%,"$8,600",3.50%,"$3,410",1.20%,"$45,000",1.20%,"$18,980",3.00%
35,2006,"$33,840",3.00%,"$8,800",2.30%,"$3,440",0.90%,"$46,270",2.80%,"$19,480",2.60%
36,2007,"$34,540",2.10%,"$9,130",3.80%,"$3,380",-1.70%,"$47,180",2.00%,"$20,000",2.70%
37,2008,"$35,260",2.10%,"$9,370",2.60%,"$3,380",0.00%,"$48,010",1.80%,"$20,410",2.10%
38,2009,"$36,690",4.10%,"$10,080",7.60%,"$3,660",8.30%,"$49,990",4.10%,"$21,720",6.40%
39,2010,"$37,550",2.30%,"$10,700",6.20%,"$3,840",4.90%,"$51,150",2.30%,"$22,690",4.50%
40,2011,"$37,910",1.00%,"$11,260",5.20%,"$4,040",5.20%,"$51,620",0.90%,"$23,330",2.80%
41,2012,"$38,620",1.90%,"$11,520",2.30%,"$4,200",4.00%,"$52,550",1.80%,"$23,740",1.80%
42,2013,"$39,550",2.40%,"$11,670",1.30%,"$4,250",1.20%,"$53,770",2.30%,"$24,130",1.60%
43,2014,"$40,410",2.20%,"$11,820",1.30%,"$4,310",1.40%,"$54,840",2.00%,"$24,450",1.30%
44,2015,"$41,730",3.30%,"$12,170",3.00%,"$4,390",1.90%,"$56,620",3.20%,"$25,250",3.30%
45,2016,"$42,690",2.30%,"$12,320",1.20%,"$4,410",0.50%,"$57,790",2.10%,"$25,680",1.70%
46,2017,"$43,310",1.50%,"$12,450",1.10%,"$4,420",0.20%,"$58,640",1.50%,"$25,940",1.00%
47,2018,"$43,450",0.30%,"$12,430",-0.20%,"$4,420",0.00%,"$58,810",0.30%,"$26,060",0.50%
48,2019,"$44,120",1.50%,"$12,490",0.50%,"$4,430",0.20%,"$59,660",1.40%,"$26,260",0.80%
49,2020,"$44,040",-0.20%,"$12,490",0.00%,"$4,430",0.00%,"$59,770",0.20%,"$26,340",0.30%
50,2021,"$42,970",-2.40%,"$12,130",-2.90%,"$4,290",-3.20%,"$58,340",-2.40%,"$25,620",-2.70%
51,2022,"$41,740",-2.90%,"$11,480",-5.40%,"$4,070",-5.10%,"$56,400",-3.30%,"$24,350",-5.00%
52,2023,"$41,540",-0.50%,"$11,260",-1.90%,"$3,990",-2.00%,"$56,190",-0.40%,"$24,030",-1.30%

In [9]:
# Rename 'Date' to 'Year'

unemployed_df_clean = unemployed_df_clean.rename(columns={'Date':'Year'})
underemployed_df_clean = underemployed_df_clean.rename(columns={'Date':'Year'})
wages_df_clean = wages_df.rename(columns={'Date':'Year'})

In [10]:
display(underemployed_df_clean.head())
display(unemployed_df_clean.head())
display(wages_df_clean.head())

   Year  Recent graduates  College graduates
0  1990              43.8               33.5
1  1991              44.4               33.9
2  1992              47.3               34.7
3  1993              46.8               34.4
4  1994              46.5               33.7

   Year  Young workers  All workers  Recent graduates  College graduates
0  1990            7.9          5.3               3.7                2.4
1  1991            9.9          6.6               4.8                3.0
2  1992           11.0          7.4               4.9                3.3
3  1993           10.1          6.6               4.0                2.9
4  1994            9.0          5.8               4.3                2.7

,Year,Bachelor's degree: 25th percentile,Bachelor's degree: median,Bachelor's degree: 75th percentile,High school diploma: median
0,1990,"39,984","52,353","67,188","38,073"
1,1991,"37,393","49,427","64,470","35,673"
2,1992,"37,540","50,054","62,567","33,369"
3,1993,"36,457","48,610","62,788","34,230"
4,1994,"35,387","47,380","61,199","33,561"

In [ ]:
#merged_df = df1.merge(df2, on='Key').merge(df3, on='Key').merge(df4, on='Key')